$cellSize: 15px;
$borderColor: #666;
$colorFront: rgba(50, 50, 50, 1);
$colorTop: rgba(70, 70, 70, 1);
$colorSide: rgba(30, 30, 30, 1);
/** PLANE **/

.fbeg-container {
  * {
    margin: 0 0;
    padding: 0 0;
    font-size: 0;
    font-family: 'Arial', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: none;
    outline: none;
  }
  .fbeg-2d-content {
    margin-right: 20px;
    .fbeg-2d {
      .fbeg-face {
        fill: $colorFront;
        stroke: $borderColor;
      }
      .fbeg-label {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        text-anchor: middle;
        line-height: $cellSize;
        fill: #ccc;
      }
    }
  }
  .fbeg-3d-content {
    margin-right: 20px;
    .fbeg-3d {
      .fbeg-cell {
        .fbeg-face {
          fill: $colorTop;
          stroke: $borderColor;
        }
        .fbeg-label {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 10px;
          text-anchor: middle;
          line-height: $cellSize;
          fill: #ccc;
        }
        .fbeg-face-top {
          fill: $colorTop;
        }
        .fbeg-face-front {
          fill: $colorFront;
        }
        .fbeg-face-side {
          fill: $colorSide;
        }
      }
    }
  }
}